<script src="../../Templates/assets/JQuery/1.12.4.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
$( "h3" ).click(function() {
  alert('JQuery Work... ! Pesan ini dieksekusi menggunakan JQuery. Browser ini hanya dapat mengeksekusi JQuery versi 1.12.4 Kebawah... ! Bagaimana dengan versi diatasnya... ? Jika anda siap untuk melakukan sedikit perubahan pada core JQuery ya silahkan, tapikan repot jika JQuery versi aslinya di update dan anda ingin menggunakan itu maka anda perlu mengupdate JQuery secara manual tiap kali ada keluaran terbaru dan ingin menggunakan-nya.');
});
});
</script>
<h3>Selamat datang di VBPHPJS</h3>
<p>Jika ingin membuat Aplikasi Desktop Opensource yang perlu kita lakukan hanyalah membuat sebuah Form dan itu terserah mau mengunakan Basic, C, Java, Pascal, Python itu semua bisa sekali.
Kita hanya perlu mengaktifkan satu kontrol WebBrowser kemudian mengcompile program tersebut, dengan demikian Main Aplikasi tidak akan mencapai 100 Kb.</p>
Aplikasi yang sedang anda buka sekarang kami beri nama VBPHPJS, diberi nama seperti itu karena aplikasi ini mampu menjalankan Printah dari Visual Basic, PHP,  Javascript dan VBScript sekaligus, tidak hanya itu karena termasuk disini adalah Html dan CSS tentunya. aplikasi ini menggunakan Browser yang sudah terinstal pada komputer Anda. itu yang membuatnya menjadi sangat ringan.
</p>
<p>Kami berbeda dari pengelola Opensource lain, yang mungkin aktif melakukan update Produk-produk mereka, sedangkan kami memilih langkah lain, kami menyediakan teknologi pengembangan untuk setiap Opensource yang kami tulis.</p>
<p>Apabila anda juga tertarik mengembangkan aplikasi desktop berbasis PHP anda bisa membuat folder dimana anda meletakan file ini sebagai folder php, untuk melakukannya anda bisa melakukan itu dengan menyertakan php portable, tutorial untuk membuat webserver php portabel banyak tersedia di internet, bahkan beberapa paket webserver sudah menyertakan fasilitas untuk membuat php portable.</p>
