<form method="post" name="form_connection_new">
<table frame="box">
  <tbody>
    <tr>
      <td><label for="hostname">Hostname</label></td>
      <td>D</td>
      <td>dd</td>
      </tr>
    <tr>
      <td><label for="username">Username</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td><label for="database">Database</label></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
<input type="button" value="ganti caption vb" onclick="window.parentWindows.window_dynamic_command.Caption = 'ganti';" />
<input type="button" value="ganti caption vb" onclick="window.parentWindow.parentWindow.window_dynamic_command.Caption = 'ganti';" />
</form>
<script>
var a = 'Nilai a';
</script>