<form method="post" name="form_connection_new">
<table frame="box">
  <tbody>
    <tr>
      <td><label for="hostname">Hostname</label></td>
      <td><input type="text" name="hostname" value="" /></td>
    </tr>
    <tr>
      <td><label for="username">Username</label></td>
      <td><input type="text" id="username" value="" /></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input type="text" name="password" value="" /></td>
    </tr>
    <tr>
      <td><label for="database">Database</label></td>
      <td><input type="text" name="database" value="" /></td>
    </tr>
  </tbody>
</table>
<input type="button" value="ganti caption vb" onclick="window.parentWindows.window_dynamic_command.Caption = 'ganti';" />
<input type="button" value="ganti caption vb" onclick="window.parentWindow.parentWindow.window_dynamic_command.Caption = 'ganti';" />
</form>
<script>
var a = 'Nilai a';
</script>